/* #idp {
    color: orange;
}
.hii{
    font-size: 50px;
}
.border-div {
    font-size: 20px;
    padding-left: 10px;
    border: 2px solid brown;
}
.Another-border{
    padding-left: 10px;
    border: width 2px; 
    border-style: dotted;
    border-color: crimson;
}
.name {
    border-top: 20px dotted red;
    border-left: 20px solid blue;
    border-right: 20px solid green;
    border-bottom: 20px dashed yellow;
}
.parent {
    margin: 50px;
    background-color: turquoise;
    padding: 20px;
    border-top: 20px solid red;
    border-left: 20px solid blue;
    border-right: 20px solid green;
    border-bottom: 20px solid yellow;     */
    /* width: 100%;  */
    /* font-size: 25px;
    max-width: 900px;
    min-width: 50px; */
    /* border-radius: 20px; */
    /* border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    box-shadow: 7px 7px 9px;
} */
/* .parent:hover {
    color: turquoise;
    background-color: black;
} */

/* .bg {
    background-image: url("/images.jpeg");
    height: 100svh;
    width: 100%;
    font-weight: 900;
    font-size: 80px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: transparent;
    background-clip: text;
} */
 /* .out {
    height: 500px;
    width: 500px;
    background-color: black;
    position: relative;
 }
 .in{
    height: 200px;
    width: 200px;
    background-color: yellow;
    position: absolute;
    top: 100px;
    left: 10px;
 }
 body {
    height: 250svh;
 }
 .fix {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    position: fixed;
 }
 .stck {
    height: 100px;
    width: 100px;
    background-color: tomato;
    position: sticky;
    top: 50px;
 } */

 table,td {
    border: 1px solid white;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    overflow: hidden;
 }
 table {
    border-radius: 10px;
 }
 tr:nth-child(odd){
    background-color: pink;
 }
 tr:nth-child(1) {
    background-color: springgreen;
    font-weight: 900;
 }
 tr:nth-child(even) {
    background-color: skyblue;
 }
 tr:hover {
    background-color: darkorange;
 }