#idp {
    color: orange;
}
.hii{
    font-size: 50px;
}
.border-div {
    font-size: 20px;
    padding-left: 10px;
    border: 2px solid brown;
}
.Another-border{
    padding-left: 10px;
    border: width 2px; 
    border-style: dotted;
    border-color: crimson;
}
.name {
    border-top: 20px dotted red;
    border-left: 20px solid blue;
    border-right: 20px solid green;
    border-bottom: 20px dashed yellow;
}
.parent {
    margin: 50px;
    background-color: turquoise;
    padding: 20px;
    border-top: 20px solid red;
    border-left: 20px solid blue;
    border-right: 20px solid green;
    border-bottom: 20px solid yellow;    /* width: 100%;  */
    font-size: 25px;
    max-width: 900px;
    min-width: 50px;
    /* border-radius: 20px; */
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
    box-shadow: 7px 7px 9px;
}
/* .parent:hover {
    color: turquoise;
    background-color: black;
} */